/* tablet.css */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for tablets in landscape mode */
    .container {
      max-width: 100%;
    }
    .profile-img {
      width: 150px;
      height: 150px;
    }
    .skills-section ul li {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* CSS rules for tablets in portrait mode */
    .container {
      max-width: 100%;
    }
    .profile-img {
      width: 150px;
      height: 150px;
    }
    .skills-section ul li {
      font-size: 18px;
    }
    .img {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }
